{% extends 'templ/main.html' %}

{% block title %}
    Main page
{% endblock %}
{% load static %}

{% block content categories%}
    {% for category in categories %}
        <h1>{{ category }}</h1>
        {% for product in categories.get_products %}
            <a href="{% url 'category' %}" class="list-group-item">{% category %}</a>
        <p>{{ product }}</p>
    {% endfor %}
{% endfor %}
{% endblock %}


{% block content products %}
    {% for product in categories.get_products %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="{% url %}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item One</a>
                </h4>
                <h5>{% price %}</h5>
                <p class="card-text">{% description %}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

