<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Services</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor_homepage/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    {% block content %}


    {% endblock %}

<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor_homepage/jquery/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'vendor_homepage/bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
</body>
</html>